@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../assets/scss/variables';

.is-open {
    .fontblock__body {
        width: 100%;
        // width: calc(100vw - 340px);
        //transform: translateX(-340px);
    }
    .fontblock__menu {
        // + 30px is to account for box-shadow!
        transform: translateX(0);
        opacity: 1;
    }
}

.fontblock {
    display: flex;
    align-items: center;

    position: relative;
    min-height: 100vh;
    overflow: hidden;
    & + .fontblock {
        border-top: 1px solid $c-default;
    }
    .burger-menu {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }
    &__body {
        //margin-right: 3rem;
        //width: calc(100% - 340px);
        width: 100%;
        transform: translateX(0);
        position: relative;
        //transition: .25s ease-in-out width;
        transition: width 0.55s ease-in-out;
    }
    &__headline {
    }
    legend {
        font-weight: 300;
        font-size: 1.25rem;
    }
    label {
        font-size: 0.875rem;
        margin: 0;
    }
    &__menu {
        width: 340px;
        transform: translateX(calc(100% + 30px));

        opacity: 0;
        transition: transform 0.55s ease-in-out, opacity 0.55s ease-in-out;
        position: absolute;
        overflow: auto;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.92);
        //height: 100%;
        box-shadow: 3px 0px 15px 0px rgba(0, 0, 0, 0.54);
    }
    &__nav {
        padding: 1.5rem;
    }
    div[id^='font-picker'] {
        width: 100%;
        box-shadow: none;
        border: none;
        color: $c-default;
    }
    div[id^='font-picker'] .dropdown-button {
        background: white;
        transition: 0.25s ease-in-out background;
        border: 1px solid #ccc;
        &:hover {
            background: #eeeeee;
        }
        &:focus {
            background: #ececec;
        }
    }
    div[id^='font-picker'] ul.expanded {
        background: white;
    }
    div[id^='font-picker'] ul li button.active-font {
        background: #008cff;
        color: white;
    }
}

.font {
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid transparent;
    padding: 0.75rem;
    &-primary {
        // default font size
        font-size: 1rem;
    }
    &-secondary {
    }
}
.font-container {
    padding: 0.75rem;
    position: relative;
}
input[type='range'] {
    border: none;
    padding: 0;
    background: none;
    &:focus {
        outline: none;
        background: none;
    }
}
.form-group {
    margin-bottom: 0.5rem;
}
.form-control[type='text'] {
    background: none;
}
.form-control:focus {
    box-shadow: none;
    border-color: inherit;
}

.custom-textarea {
    font-size: 0.875rem;
    outline: 0;
    border: 1px solid $c-light-gray;
    padding: 10px;
    resize: none;
    width: 100%;
    overflow-y: hidden;
    background: transparent;
    &:focus {
        outline: none;
    }
}
.input-group-color {
    .form-control {
        height: 50px;
        border-width: 0;
        padding: 0;
    }
}

fieldset {
    padding: 0;
    margin: 0;
    & + fieldset {
        //margin-top: 2rem;
    }
}

$track-w: 16em;
$track-h: 0.15em;
$thumb-d: 1em;
$track-c: $c-default;
$dist: $track-w - $thumb-d;

@mixin track() {
    box-sizing: border-box;
    border: none;
    width: $track-w;
    height: $track-h;
    background: $track-c;
}

@mixin thumb() {
    box-sizing: border-box;
    border: none;
    width: $thumb-d;
    height: $thumb-d;
    border-radius: 50%;
    background: #008cff;
}

[type='range'] {
    &,
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
    }

    flex: 1;
    margin: 0;
    padding: 0;
    min-height: $thumb-d;
    background: transparent;
    font: inherit;

    &::-webkit-slider-runnable-track {
        @include track();
    }
    &::-moz-range-track {
        @include track;
    }
    &::-ms-track {
        @include track;
    }

    &::-webkit-slider-thumb {
        margin-top: 0.5 * ($track-h - $thumb-d);
        @include thumb;
    }
    &::-moz-range-thumb {
        @include thumb;
    }
    &::-ms-thumb {
        margin-top: 0;
        @include thumb;
    }

    &::-ms-tooltip {
        display: none;
    }

    ~ output {
        display: none;

        .js & {
            display: block;
            position: absolute;
            left: 0.5 * $thumb-d;
            top: 0;
            padding: 0.25em 0.5em;
            border-radius: 3px;
            transform: translate(
                calc(
                    (var(--val) - var(--min)) / (var(--max) - var(--min)) *#{$dist} -
                        50%
                )
            );
            background: #95a;
            color: #eee;
        }
    }
}
.is-visible {
    .hud {
        visibility: visible;
        opacity: 1;
    }
    .font {
        border: 1px solid $c-highlight;
    }
}
.hud {
    position: absolute;
    bottom: -6px;
    left: 24px;
    color: white;
    background: $c-highlight;
    font-size: 1rem;
    padding: 0.2rem;
    margin: 0;
    &,
    & .font {
        opacity: 0;
        visibility: hidden;
        transition: $tr-default;
    }
    .font {
        transition-delay: 0.65s;
    }
    dt,
    dd {
        float: left;
    }
    dt {
        font-weight: 500;
        margin: 0 5px;
    }
    dd {
        font-weight: 300;
        margin: 0 10px 0 0;
    }
}
.nav-bottom-controls {
    position: fixed;
    padding: 20px;
    bottom: 0;
    left: 0;
    .btn + .btn {
        margin-left: 10px;
    }
}
.btn-rnd {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0.2em 0.8em;
}
.custom-range-slider {
    > div:first-child {
        height: 3px !important;
    }
}
.form-label {
    display: block;
}
.custom-textarea {
    min-height: 85px;
}
.group-pickers {
    display: flex;
    margin-top: 5px;
}
.color-picker {
    position: relative;
    &-swatch {
        padding: 5px;
        background: #fff;
        border-radius: 1px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
        display: inline-block;
        cursor: pointer;
    }
    &-popover {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 60px;
        &.popup {
            top: inherit;
            bottom: 60px;
        }
    }
    &-cover {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
.color-box {
    display: block;
    margin-left: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $c-default;
    box-shadow: 0 2px 3px #ccc;
    cursor: pointer;
}
.group-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-pdf {
    font svg path {
        fill: white;
    }
}
